#board {
  width: 100%;
}

.top-row {
  display:flex;
  gap: 1em;
}

#timeline   {
  min-width: 70cqw;
  min-height: 20em;
}

#bottom-row, #top-row {
  padding: 1em;
}

.sequencer {
  display: grid;

}

.note {


}


button.note {
  height: 3em;
  width: 3em;
  transition: all 100ms ease-in-out;
}

button.note.note-is-active {
  background-color: #000;
}

button.note.row-is-active {
  background-color: gray;
}

button.row-is-active[data-column-active="true"] {
  transform: scale(1.5);
}
button.note.row-is-active {
  background-color: gray;
}
button[data-column-active="true"] {

// border: 1px solid red;
transform: scale(1.1);

}

#sequencer {
  display: grid;
  gap: 1em;

}
#rowIndex {
  display: flex;
  // justify-content: space-between;
  gap: 1em;

}